body{
	font-family: Avenir;
	color: #78909C;
}

.menu-bar{
	height: 60px;
	background-color: #2196F3;
}

.logo-menu-bar{
	height: 44px;
	width: 44px;
	margin-left: 8px;
	margin-top: 8px;
	float: left;
}

.texto-menu-bar{
	float: left;
	margin-left: 12px;
	margin-top: 18px;
	color: #FFF;
	font-weight: 200;
	font-size: 24px;
}

.titulo-menu-bar{
	position: absolute;
	width: 100%;
	margin-top: 18px;
	color: #FFF;
	font-weight: 200;
	font-size: 24px;
	text-align: center;
}

.home-menu-bar{
	height: 44px;
	width: 44px;
	margin-right: 8px;
	margin-top: 8px;
	float: right;
}