.footer{
	background-color: #607D8B;
	padding: 70px 0;
}

.footer-logo-div{
	margin-bottom: 50px;
}

.footer-logo{
	width: 150px;
	margin: 0 auto;
}

.big-txt{
	font-size: 32px;
}

.small-txt{
	font-size: 20px;
}


/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

	.big-txt{
		font-size: 32px;
	}

	.small-txt{
		font-size: 20px;
	}


}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 998px) {

	.big-txt{
		font-size: 32px;
	}

	.small-txt{
		font-size: 20px;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 

	.big-txt{
	font-size: 32px;
	}

	.small-txt{
	font-size: 20px;
	}

}
