body, html{
	padding: 0;
	margin: 0;
	font-family: Avenir, Muli;
}

a:hover{
	text-decoration: none;
	color: #03A9F4;
}

.fix{
	padding: 0px;
	margin: 0px;
}

.mobileMenu{
	position: relative;
	display: block;
	background-color: #f5f5f5;
}

.desktopMenu{
	display: none;
	height: 70px;
	width: 100%;
	background-color: #f5f5f5;
}

.menu-mobile-nav{
	position: relative;
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 15px;
	margin-top: 15px;
	padding: 5px;
}

.logo-mobile-nav{
	position: relative;
	height: 70px;
	margin: 0 auto;
	padding-right: 63px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.logo-div{
	width: auto;
	height: auto;
	position: relative;
	float: left;
}

.logo-nav{
	margin-top: 6px;
	margin-left: 10px;
	height: 58px;
	width: auto;
}

.nav-item{
	width: auto;
	float: right;
	height: 70px;
	padding: 0 18px;
}

.nav-text{
	color: #888;
	margin-top: 22px;
	font-size: 20px;
	font-weight: 100;
}

.nav-text-m{
	color: #888;
	font-size: 20px;
	font-weight: 100;
}

.nav-item-m{
	padding: 20px;
}

.nav-text-m-sesion{
	position: relative;
	color: #FFF;
	align-content: center;
	margin: 0 auto;
}

.nav-item-m-sesion{
	background-color: #03A9F4;
	align-content: center;
}

.nav-item-inicia{
	height: 70px;
	float: right;
	padding: 0 28px; 
	background-color: #03A9F4;
}

a:hover.nav-item-inicia{
	height: 70px;
	float: right;
	padding: 0 28px; 
	background-color: #FF9800;
}

a:hover.nav-text-inicia{
	color: #FFF;
	padding-top: 22px;
	font-size: 20px;
	font-weight: 100;
}

.nav-text-inicia{
	color: #FFF;
	padding-top: 22px;
	font-size: 20px;
	font-weight: 100;
}

.cover-div{
	height: 500px;
	background-image: url(img/guia-cover.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  	background-size: cover;
  	background-position: 60% 50%;
  	z-index: 2;
}

.black-div{
	position: absolute;
	height: 500px;
	width: 100%;
	background-color: rgba(0,0,0,0.25);
}

.cover-title{
	font-size: 42px;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}

.cover-text{
	font-size: 24px;
	text-align: center;
	width: 100%;
	line-height: 130%;
	font-weight: 300;
}

.cover-container{
	width: 90%;
	height: auto;
	position: absolute;
  	top: 50%; left: 50%;
  	transform: translate(-50%,-50%);
}

.division{
	height: 2px;
	width: 80%;
	margin: 10px auto;
	background-color: #FFF;
}

.logo-guia{
	width: 200px;
	height: 200px;
	margin-top: -100px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
}

.max{
	margin-top: 150px;
	max-width: 1024px;
}

.maxT{
	margin-top: 50px;
	max-width: 1024px;
}

.grey{
	background-color: #f5f5f5;
}

.list-div{
	background-color: #FFF;
	width: 100%;
	height: 320px;
	padding: 25px 0;
}

.titulo{
	width: 90%;
	margin: 0 5%; 
	font-size: 28px;
	color: #999;
	text-align: center;
	margin-bottom: 20px;
	line-height: 160%;
	font-weight: 300;
}

.div-v{
	margin-bottom: 50px;
}

.titulo-v-div{
	background-color: #03A9F4;
	width: 100%;
	height: 50px;
  	line-height: 50px;
  	padding-top: 5px;
}

.texto{
	width: 90%;
	font-size: 20px;
	color: #999;
	text-align: center;
	margin: 0 5%;
	line-height: 160%;
	font-weight: 300;
}

.naranja{
	color: #FF9800;
}

.orange-div{
	background-color: rgba(255,152,0,0.7);
	height: 500px;
	width: 100%;
}

.block-div{
	margin-bottom: 50px;
}

.cover-online{
	height: 500px;
	background-image: url(img/cover-online.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  	background-size: cover;
  	background-position: 60% 50%;
}

.wt{
	color: #FFF;
}

.col-img{
	width: 140px;
	height: 140px;
	margin-bottom: 20px;
}

.divisionD{
	display: none;
}

.list-t{
	text-align: left;
	padding: 0 20px;
	margin-bottom: 15px;
	font-size: 18px;
	border-left: solid 2px #4FC3F7;
}

.precio-v-div{
	background-color: #ccc;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

	.col-top{
		width: 60%;
		margin-left: 20%;
	}

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 998px) {

	.col-img{
		margin-bottom: 30px;
	}

	.border-cover{
		border-right: solid 2px #fff;
	}

	.division{
		display: none;
	}

	.cover-text{
		margin-left: 16px;
		float: left;
		width: auto;
		position: relative;
		text-align: left;
	}

	.cover-title{
		font-size:64px;
		margin-right: 16px;
		float: right;
		width: auto;
		position: relative;
		font-weight: 500;
	}

	.mobileMenu{
		display: none;
	}

	.desktopMenu{
		display: block;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 

}